.container
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "form-signin", role: "form", method: :put} ) do |f|
    %h2.form-signin-heading Change password
    = f.hidden_field :reset_password_token
    = f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control"
    = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation", class: "form-control"
    = f.submit "Change my password", class: "btn btn-lg btn-primary btn-block"      

  = render "devise/shared/links"